#login {
    margin-top: 100px;
}

input:not(.select2-search__field), select:not(charge-select) {
    color: black;
    margin-bottom: 20px;
    height: 26px;
}

textarea {
    width: 100%;
    color: black;
}

form {
    position: relative;

    .editOverlay {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 9999;
    }
}

span.textAreaField {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

span.inputField {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

span.inputField, span.textAreaField {
    input[readonly], select[disabled], textarea[readonly] {
        margin-bottom: 0;
        background: $color-main;
        color: $color-white;
        border: none;

        &:hover {
            background: $color-seperator;
            cursor: pointer;
            color: black;
        }
    }

    &:hover {
        &:after {
            content: "\f040";
            font-family: FontAwesome;
            position:absolute;
            top:0;
            right: -20px;
        }
    }

    &.removeEditIcon {
        &:hover {
            &:after {
                content: "";
            }
        }
    }

}

.charge-select-wrapper {
    margin-bottom: 20px;

    .charge-select2-container {

    }
}
select, .select2-dropdown {
    color: black;
}

#edit {
    .select2-selection.select2-selection--multiple {
        margin-bottom: 0;
        background-color: $color-main !important;
        color: $color-white;
        border: none;

        &:hover {
            background: $color-seperator;
            cursor: pointer;
            color: black;

            &:after {
                content: "\f040";
                font-family: FontAwesome;
                position: absolute;
                top: 0;
                right: -20px;
            }
        }
    }

    .select2-search.select2-search--inline {
        height: 25px !important;
    }
}

.select2-selection__choice {
    color: black;
}
label {
    color: #F5F5F5;
}
label.error {

    .charge-select2-container & {
        margin-top: 0;
    }

    display: block;
    margin-bottom: 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-top: -15px;
    color: #ff3232;
}
