#navbar-app {
    display: block;
    z-index: 999999;
    position: fixed;
    left: 0;
    padding: 0;
    background: $color-secondary;
    height: 100%;

    ul {
        list-style-type: none;
        padding: 0;

        li {

            &:first-of-type {
                height: 73px;

                .nav-item, .nav-item-title {
                    line-height: 73px;
                }
            }
            position: relative;
            background-color: $color-secondary;
            height: 60px;
            border-bottom: 1px solid lightgrey;
            text-align: center;
            line-height: 1;
            
            .nav-item, .nav-item-title {
                position: relative;
                height: 100%;
                line-height: 60px;
            }

            .nav-item-title {
                text-align: left;
            }

            .fa {
                vertical-align: middle;
            }

            &.active {
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-right: 8px solid $color-main;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -8px;
                }
            }

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

  .loaderOverlay {
      margin-left: 16.66666667%;
      display: block;
      position: fixed;
      background: black;
      transition: all 0.2s ease-out;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.6;
      width: 100%;
      height: 100%;
      z-index: 9999999999999999999999;
    
      .spinner {
          position: fixed;
          display: block;
          z-index: 9999;
          padding-left: 16.66666667%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          height: 3em;
          width: 3em;
      }
      
      .icon-white {
          color: $color-white;
      }
  }
}

#childNav {
    border-bottom: 1px solid $color-seperator;
    padding-left: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    list-style-type: none;

    li {
        display: inline-block;
        float: none;
        padding: 5px 5px;
        min-width: 8.33333333%;
        margin-right: 10px;
        border: 1px solid $color-seperator;
        a {
            .childNavItem {
                color: $color-white;
            }
        }
    }
}