.panel-default, .panel {
  padding: 5px;
  background: #4c555c;
  border: none; }
  .panel-default > .panel-heading, .panel > .panel-heading {
    color: #EEEEEE; }
  .panel-default .dataTables_wrapper, .panel .dataTables_wrapper {
    padding-top: 10px !important;
    color: #EEEEEE !important; }
    .panel-default .dataTables_wrapper *, .panel-default .dataTables_wrapper .dataTables_paginate .paginate_button, .panel .dataTables_wrapper *, .panel .dataTables_wrapper .dataTables_paginate .paginate_button {
      color: #EEEEEE !important; }
    .panel-default .dataTables_wrapper select, .panel-default .dataTables_wrapper input, .panel .dataTables_wrapper select, .panel .dataTables_wrapper input {
      color: black !important; }
    .panel-default .dataTables_wrapper td, .panel .dataTables_wrapper td {
      border-color: #989898 !important; }
    .panel-default .dataTables_wrapper th, .panel .dataTables_wrapper th {
      border: none !important; }
    .panel-default .dataTables_wrapper table.dataTable.no-footer, .panel .dataTables_wrapper table.dataTable.no-footer {
      border-bottom: 1px solid #989898 !important; }
  .panel-default .panel-heading, .panel .panel-heading {
    background: #4c555c; }
  .panel-default .even, .panel-default .odd, .panel .even, .panel .odd {
    background: #4c555c !important; }

.mobile-menu-bars {
  display: none; }

#navbar-app {
  display: block;
  z-index: 999999;
  position: fixed;
  left: 0;
  padding: 0;
  background: #4c555c;
  height: 100%; }
  #navbar-app ul {
    list-style-type: none;
    padding: 0; }
    #navbar-app ul li {
      position: relative;
      background-color: #4c555c;
      height: 60px;
      border-bottom: 1px solid lightgrey;
      text-align: center;
      line-height: 1; }
      #navbar-app ul li:first-of-type {
        height: 73px; }
        #navbar-app ul li:first-of-type .nav-item, #navbar-app ul li:first-of-type .nav-item-title {
          line-height: 73px; }
      #navbar-app ul li .nav-item, #navbar-app ul li .nav-item-title {
        position: relative;
        height: 100%;
        line-height: 60px; }
      #navbar-app ul li .nav-item-title {
        text-align: left; }
      #navbar-app ul li .fa {
        vertical-align: middle; }
      #navbar-app ul li.active:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #32383d;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px; }
      #navbar-app ul li a {
        color: #EEEEEE;
        text-decoration: none; }
  #navbar-app .loaderOverlay {
    margin-left: 16.66666667%;
    display: block;
    position: fixed;
    background: black;
    transition: all 0.2s ease-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999999999; }
    #navbar-app .loaderOverlay .spinner {
      position: fixed;
      display: block;
      z-index: 9999;
      padding-left: 16.66666667%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 3em;
      width: 3em; }
    #navbar-app .loaderOverlay .icon-white {
      color: #EEEEEE; }

#childNav {
  border-bottom: 1px solid #989898;
  padding-left: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 18px;
  list-style-type: none; }
  #childNav li {
    display: inline-block;
    float: none;
    padding: 5px 5px;
    min-width: 8.33333333%;
    margin-right: 10px;
    border: 1px solid #989898; }
    #childNav li a .childNavItem {
      color: #EEEEEE; }

#login {
  margin-top: 100px; }

input:not(.select2-search__field), select:not(charge-select):not(facilitator-select) {
  color: black;
  height: 28px; }

.inputContainer {
  margin-bottom: 20px; }
  .inputContainer input {
    margin: 0; }
  .inputContainer .btn {
    margin: 0; }

textarea {
  width: 100%;
  color: black; }

form {
  position: relative; }

span.textAreaField {
  display: block;
  position: relative;
  margin-bottom: 20px; }

.inputField {
  display: inline-block;
  position: relative;
  margin-bottom: 20px; }

.inputField.textAreaField {
  display: block; }

.inputField input[readonly], .inputField select[disabled], .inputField textarea[readonly] {
  margin-bottom: 0;
  transition: all 0.2s ease;
  background: #32383d;
  color: #EEEEEE;
  border: none; }

.charge-select-wrapper, .facilitator-select-wrapper {
  margin-bottom: 20px; }

select, .select2-dropdown {
  color: black; }

#edit .showEditIcon .select2-selection.select2-selection--multiple {
  transition: all 0.2s ease;
  background: #989898 !important;
  cursor: pointer;
  color: black; }

#edit .select2-container--disabled .select2-selection--multiple {
  transition: all 0.2s ease;
  background: #32383d !important;
  border: none !important;
  cursor: pointer;
  color: black; }

#edit .select2-search.select2-search--inline {
  height: 25px !important; }

.select2-container {
  width: 300px !important; }
  .select2-container .select2-selection__rendered {
    word-wrap: break-word;
    text-overflow: inherit;
    white-space: normal; }

.select2-selection__choice {
  color: black; }

label {
  color: #F5F5F5; }

label.error {
  display: block;
  margin-bottom: 10px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-top: -15px;
  color: #ff3232; }
  .charge-select2-container label.error, label.error .facilitator-select-container {
    margin-top: 0; }
  .inputContainer label.error, .inputField label.error {
    margin-bottom: 5px;
    margin-top: 5px; }

.modal {
  color: black;
  margin-left: 16.66666667%; }

input[type="text"], textarea {
  border-radius: 4px; }

input[type="text"], select {
  width: 200px; }

input, select, textarea, a, p, div, label, button {
  font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif; }

button {
  color: #EEEEEE; }

input[type="file"] {
  color: #EEEEEE;
  font-size: 16px; }

.select2-selection--multiple {
  height: 100% !important; }

.select2-selection__rendered {
  word-wrap: break-word !important;
  text-overflow: inherit !important;
  white-space: normal !important; }

table {
  table-layout: fixed; }
  table td {
    word-wrap: break-word; }
    table td a.editableInput {
      text-decoration: none;
      cursor: pointer;
      color: #EEEEEE; }
      table td a.editableInput:hover {
        text-decoration: none;
        color: #EEEEEE; }
    table td .inlineEdit {
      width: 100%; }

.panel-heading, .personHeading span:not(.submitContainer) {
  font-size: 20px;
  font-width: 700; }

#fileSection {
  position: relative; }
  #fileSection .fileloaderOverlay {
    display: block;
    position: absolute;
    background: black;
    transition: all 0.2s ease-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999999999; }
    #fileSection .fileloaderOverlay .spinner {
      position: absolute;
      display: block;
      z-index: 9999;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 3em;
      width: 3em; }
    #fileSection .fileloaderOverlay .icon-white {
      color: #EEEEEE; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  color: #000000; }

.caseStatusReportContainer {
  display: block;
  position: relative;
  height: 435px;
  width: 100%; }

.btn {
  margin-bottom: 20px;
  font-size: 16px; }

.btn-green {
  background: #1ac65b;
  margin-bottom: 20px;
  color: #EEEEEE; }

.btn-orange {
  background: #ff6000;
  margin-bottom: 20px;
  color: #EEEEEE; }

.btn-red {
  background: red;
  margin-bottom: 20px;
  color: #EEEEEE; }

.submitContainer {
  text-align: right; }
  .submitContainer .btn-submit-item {
    display: inline-block; }

.personHeading {
  height: 35px;
  clear: both; }
  .personHeading #removeVictim, .personHeading #removeOffender {
    float: right; }
  .personHeading .personNumber {
    float: left; }

.btn-fixed-large {
  font-weight: 600;
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  padding: 0;
  z-index: 100;
  margin-top: -23px;
  transition: all 0.2;
  border-radius: 0;
  border: none;
  color: #EEEEEE;
  font-size: 20px;
  width: 130px;
  height: 130px; }
  .btn-fixed-large:focus {
    outline: none; }

.edit-button, .update-button {
  display: none; }

.show-button {
  display: inline-block;
  right: 0;
  transition: all 0.2; }

.btn-xl {
  padding: 20px 32px; }

.float-right {
  float: right; }

.table-btn {
  margin-bottom: 0; }

body {
  background: #32383d;
  color: #EEEEEE; }

.test {
  background: #000; }

@media (max-width: 768px) {
  .mobile-menu-bars {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 100;
    display: block;
    text-align: right; }
    .mobile-menu-bars a {
      color: #eee; }
      .mobile-menu-bars a:active {
        color: #5bc0de; }
      .mobile-menu-bars a i {
        border: 1px solid;
        padding: 5px 8px;
        border-radius: 5px; }
  .loaderOverlay {
    display: none !important; }
  th {
    width: 80px !important; }
  #navbar-app {
    top: 0;
    left: -200px;
    transition: 0.2s;
    z-index: 100; }
    #navbar-app ul li {
      text-align: left; }
      #navbar-app ul li .nav-item, #navbar-app ul li .nav-item-title {
        display: inline-block; }
  #childNav {
    margin-top: 70px;
    text-align: center;
    padding-bottom: 0; }
    #childNav li {
      margin-bottom: 10px; }
  .show-menu {
    left: 0 !important;
    transition: 0.2; }
  .mobile-menu-overlay {
    display: block;
    position: fixed;
    background: black;
    transition: all 0.2s ease-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 99; } }

/*# sourceMappingURL=app.css.map */
