.test {
  background: blue; }

.panel-default, .panel {
  padding: 5px;
  background: #4c555c;
  border: none; }
  .panel-default > .panel-heading, .panel > .panel-heading {
    color: white; }
  .panel-default .dataTables_wrapper, .panel .dataTables_wrapper {
    padding-top: 10px;
    color: white; }
    .panel-default .dataTables_wrapper *, .panel-default .dataTables_wrapper .dataTables_paginate .paginate_button, .panel .dataTables_wrapper *, .panel .dataTables_wrapper .dataTables_paginate .paginate_button {
      color: white !important; }
    .panel-default .dataTables_wrapper select, .panel-default .dataTables_wrapper input, .panel .dataTables_wrapper select, .panel .dataTables_wrapper input {
      color: black !important; }
    .panel-default .dataTables_wrapper td, .panel .dataTables_wrapper td {
      border-color: #989898; }
    .panel-default .dataTables_wrapper th, .panel .dataTables_wrapper th {
      border: none; }
    .panel-default .dataTables_wrapper table.dataTable.no-footer, .panel .dataTables_wrapper table.dataTable.no-footer {
      border-bottom: 1px solid #989898; }
  .panel-default .panel-heading, .panel .panel-heading {
    background: #4c555c; }
  .panel-default .even, .panel-default .odd, .panel .even, .panel .odd {
    background: #4c555c; }

#navbar-app {
  display: block;
  z-index: 999999;
  position: fixed;
  left: 0;
  padding: 0;
  background: #4c555c;
  height: 100%; }
  #navbar-app ul {
    list-style-type: none;
    padding: 0; }
    #navbar-app ul li {
      position: relative;
      background-color: #4c555c;
      height: 60px;
      border-bottom: 1px solid lightgrey;
      text-align: center;
      line-height: 1; }
      #navbar-app ul li:first-of-type {
        height: 73px; }
        #navbar-app ul li:first-of-type .nav-item, #navbar-app ul li:first-of-type .nav-item-title {
          line-height: 73px; }
      #navbar-app ul li .nav-item, #navbar-app ul li .nav-item-title {
        position: relative;
        height: 100%;
        line-height: 60px; }
      #navbar-app ul li .nav-item-title {
        text-align: left; }
      #navbar-app ul li .fa {
        vertical-align: middle; }
      #navbar-app ul li.active:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #32383d;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px; }
      #navbar-app ul li a {
        color: white;
        text-decoration: none; }
  #navbar-app .loaderOverlay {
    margin-left: 16.66666667%;
    display: block;
    position: fixed;
    background: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999999999; }
    #navbar-app .loaderOverlay .spinner {
      position: fixed;
      display: block;
      z-index: 9999;
      padding-left: 16.66666667%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 3em;
      width: 3em; }
    #navbar-app .loaderOverlay .icon-white {
      color: white; }

#childNav {
  border-bottom: 1px solid #989898;
  padding-left: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  list-style-type: none; }
  #childNav li {
    display: inline-block;
    float: none;
    padding: 5px 0;
    margin-right: 10px;
    border: 1px solid #989898; }
    #childNav li a .childNavItem {
      color: white; }

#login {
  margin-top: 100px; }

input:not(.select2-search__field), select:not(charge-select) {
  color: black;
  height: 28px; }

.inputContainer {
  margin-bottom: 20px; }
  .inputContainer input {
    margin: 0; }
  .inputContainer .btn {
    margin: 0; }

textarea {
  width: 100%;
  color: black; }

form {
  position: relative; }
  form .editOverlay {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999; }

span.textAreaField {
  display: block;
  position: relative;
  margin-bottom: 20px; }

.inputField {
  display: inline-block;
  position: relative;
  margin-bottom: 20px; }

.inputField.textAreaField {
  display: block; }

.inputField input[readonly], .inputField select[disabled], .inputField textarea[readonly] {
  margin-bottom: 0;
  background: #32383d;
  color: white;
  border: none; }

.inputField.showEditIcon input[readonly], .inputField.showEditIcon select[disabled], .inputField.showEditIcon textarea[readonly] {
  background: #989898;
  cursor: pointer;
  color: black; }

.inputField.showEditIcon:after {
  content: "\f040";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: -20px; }

.inputField.removeEditIcon:hover:after {
  content: ""; }

.charge-select-wrapper {
  margin-bottom: 20px; }

select, .select2-dropdown {
  color: black; }

#edit .select2-selection.select2-selection--multiple {
  margin-bottom: 0;
  background-color: #32383d !important;
  color: white;
  border: none; }
  #edit .select2-selection.select2-selection--multiple:hover {
    background: #989898 !important;
    cursor: pointer;
    color: black; }
    #edit .select2-selection.select2-selection--multiple:hover:after {
      color: white;
      content: "\f040";
      font-family: FontAwesome;
      position: absolute;
      top: 0;
      right: -20px; }

#edit .select2-search.select2-search--inline {
  height: 25px !important; }

.select2-selection__choice {
  color: black; }

label {
  color: #F5F5F5; }

label.error {
  display: block;
  margin-bottom: 10px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-top: -15px;
  color: #ff3232; }
  .charge-select2-container label.error {
    margin-top: 0; }
  .inputContainer label.error, .inputField label.error {
    margin-bottom: 5px;
    margin-top: 5px; }

.modal {
  color: black;
  margin-left: 16.66666667%; }

.caseStatusReportContainer {
  display: block;
  position: relative;
  height: 435px;
  width: 100%; }

.btn {
  margin-bottom: 20px; }

.btn-green {
  background: #1ac65b;
  margin-bottom: 20px; }

.btn-orange {
  background: #ff6000;
  margin-bottom: 20px; }

body {
  background: #32383d;
  color: white; }

.test {
  background: #000; }

/*# sourceMappingURL=app.css.map */
