// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'helpers/config';
@import "themes/dark";
@import 'components/nav';

body {
	background: $color-main;
	color: $color-white;
}


.test {
	background: #000;
}