// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'helpers/config';
@import "themes/dark";
@import 'components/nav';
@import 'components/forms';
@import 'components/reports';
@import "components/buttons";
@import "components/flex";

body {
	background: $color-main;
	color: $color-white;
}


.test {
	background: #000;
}

@media (max-width: 768px) {
  .mobile-menu-bars {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 100;
    display: block;
    text-align: right;
    a {
      color: #eee;
      &:active {
        color: #5bc0de;
      }
      i {
        border: 1px solid;
        padding: 5px 8px;
        border-radius: 5px;
      }
    }
  }

  .loaderOverlay {
    display: none !important;
  }

  th {
    width: 80px !important;
  }

  #navbar-app {
    top: 0;
    left: -200px;
    transition: 0.2s;
    z-index: 100;
    ul li {
      text-align: left;
      .nav-item, .nav-item-title {
        display: inline-block;
      }
    }
  }

  #childNav {
    margin-top: 70px;
    text-align: center;
    padding-bottom: 0;

    li {
      margin-bottom: 10px;
    }
  }

  .show-menu {
    left: 0 !important;
    transition: 0.2;
  }

  .mobile-menu-overlay {
    display: block;
    position: fixed;
    background: black;
    transition: all 0.2s ease-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
}