.panel-default, .panel {
    padding: 5px;
    background: $color-secondary;
    border: none;

    >.panel-heading {
        color: $color-white;
    }

    .dataTables_wrapper {
        padding-top: 10px !important;
        color: $color-white !important;
        *, .dataTables_paginate .paginate_button {
            color: $color-white !important;
        }

        select, input {
            color: black !important;
        }

        td {
            border-color: $color-seperator !important;
        }

        th {
            border: none !important;
        }

        table.dataTable.no-footer {
            border-bottom: 1px solid $color-seperator !important;
        }
    }

    .panel-heading {
        background: $color-secondary;
   }

    .even, .odd {
        background: $color-secondary !important;
    }
}
